* {
  margin: 0;
  padding: 0;
}

.transition-width{
  transition: width 0.5s;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.spinner {
  @apply border-4 border-solid dark:border-secondaryColorDark border-secondaryColorLight dark:border-l-white border-l-black;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}